<input type="text" placeholder="Buscar" (keyup.enter)="buscar(mamadon.value)" #mamadon>
<a routerLink="/home">home</a>
<a [routerLink]="['/acerca', '1']" >acerca</a>
<hr>
<a [routerLink]="['/galeria', '1']">galeria/foto1</a>
<a [routerLink]="['/galeria', '2']">galeria/foto2</a>
<a [routerLink]="['/galeria', '3']">galeria/foto3</a>
<a [routerLink]="['/galeria', '4']">galeria/foto4</a>
<a [routerLink]="['/galeria', '5']">galeria/foto5</a>
<hr>
<a routerLink="/contacto/miParametro">contacto</a>
<a routerLink="/c1">c1</a>
<a routerLink="/c2">c2</a>
<a routerLink="/c3">c3</a>
<a routerLink="/c4">c4</a>
<a routerLink="/c5">c5</a>
<a routerLink="/c6">c6</a>
<a routerLink="/c7">c7</a>

<a routerLink="/c2/aa">aa</a>
<a routerLink="/c2/bb">bb</a>
<a routerLink="/c2/cc">cc</a>

<a routerLink="/c3">--C3--</a>

<a routerLink="/c3/c3a/mamada">c3a</a>
<a routerLink="/c3/c3b/lajotada">c3b</a>
<a routerLink="/c3/c3c/laputada">c3c</a>
<a routerLink="/c3/c3d/laperrada">c3d</a>
<a routerLink="/c3/c3e/laculada">c3e</a>
