<p>
  acerca works!
</p>
<ul>
  <li *ngFor="let nombre of nombres"><b>Nombre:</b> {{nombre.name}}<br> <b>Genero: </b> <span class="{{nombre.gender}}">{{nombre.gender}}</span><br><br></li>
</ul>
<table>
  <thead>
    <tr>
      <td>
        Valor {{homeComp.valor1}}
      </td>
      <td>
        Pipe
      </td>
      <td>
        Resultado
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{stringParaPipes}} 
      </td>
      <td>
         uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | lowercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | slice:0:4}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | slice:5:7}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | slice:6:9}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
         pipe1
      </td>
      <td>
        {{stringParaPipes | pipe1}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringHTML}}
      </td>
      <td>
         pipe2
      </td>
      <td>
        {{stringHTML | pipe2}}
      </td>
    </tr>
    <tr>
      <td>
        {{cadenaParaRegExps}}
      </td>
      <td>
         pipe3
      </td>
      <td>
        <span ></span>{{cadenaParaRegExps | pipe3}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
    <tr>
      <td>
        {{stringParaPipes}}
      </td>
      <td>
        uppercase
      </td>
      <td>
        {{stringParaPipes | uppercase}}
      </td>
    </tr>
  </tbody>
</table>